[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
subgrounds = "*"
dash-bootstrap-components = "*"
millify = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.10"
